@model List<CuaHangBiaOnline_62131086.Models.Sanpham_62131086>

@{
    ViewBag.Title = "Bia truyền thống";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class=" bg-danger"><h3 style="padding-left:20px"> BIA TRUYỀN THỐNG </h3></div>
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-6" style="margin-top:3%">
            <a href="@Url.Action("xemchitiet", new {@Masp=item.Masp })">
                <img src=@Url.Content("~" +item.Anhbia.ToString()) class="img-responsive" alt="" width="400" height="400" style="object-fit:cover" />
            </a>
            <center>
                <h3>@item.Tensp</h3>
                <h3 style="color:red">Giá: @String.Format("{0:0,0}", @item.Giatien) VND</h3>
                <br />
                @using (Html.BeginForm("ThemGioHang", "GioHang_62131086", new { @iMasp = item.Masp, @strURL = Request.Url.ToString() }))
                {
                    <input style=" padding: 10px 20px; background-color: orange; color: white; border: none; border-radius: 4px" type="submit" value="THÊM VÀO GIỎ HÀNG" id="bgnGioHang" onclick="alert('Đã thêm vào giỏ hàng')" />

                }

            </center>

        </div>
    }


</div>
@{
    int PrevPage = ViewBag.Page - 1;
    if (PrevPage <= 0)
    {
        PrevPage = 1;
    }
    int NextPage = ViewBag.Page + 1;
    if (NextPage > ViewBag.NoOfPages)
    {
        NextPage = ViewBag.NoOfPages;
    }
}
<center>
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="/Sanpham_62131086/biatruyenthong?page=@PrevPage&search=@ViewBag.Search">
                <<
            </a>
        </li>
        @for (int i = 0; i < ViewBag.NoOfPages; i++)
        {
            if (i + 1 == ViewBag.Page)
            {
                <li class="page-item active">
                    <a class="page-link" href="/Sanpham_62131086/biatruyenthong?page=@(i + 1)&search=@ViewBag.Search">
                        @(i + 1)
                    </a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" href="/Sanpham_62131086/biatruyenthong?page=@(i + 1)&search=@ViewBag.Search">
                        @(i + 1)
                    </a>
                </li>
            }
        }
        <li class="page-item">
            <a class="page-link" href="/Sanpham_62131086/biatruyenthong?page=@NextPage&search=@ViewBag.Search">
                >>
            </a>
        </li>
    </ul>
</center>

