@model CuaHangBiaOnline_62131086.Models.Donhang_62131086

@{
    ViewBag.Title = "ThanhToanDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Trang Thanh Toán</h2>

@using (Html.BeginForm("DatHang", "GioHang_62131086", new { @class = "" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Madon)



    <div class="form-group">
        <div class="control-label col-md-3 Bold"> <b> 	Ngày đặt</b></div>
        <div class="col-md-9">
            @Html.EditorFor(model => model.Ngaydat, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Ngaydat, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-3 Bold"> <b> 	Tổng tiền thanh toán  </b></div>

        <div class="col-md-9">
            <h3 class="text-danger"> @String.Format("{0:0,0}", @ViewBag.tongtien) VNĐ </h3>
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-3 Bold"> <b> 	Địa chỉ nhận hàng</b></div>
        <div class="col-md-9">
            @Html.EditorFor(model => model.Diachinhanhang, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Diachinhanhang, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-3 Bold"> <b> 	Phương thức thanh toán  </b></div>

        <div class="col-md-9">
            @Html.DropDownList("MaTT", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-3 Bold"> <b>Nếu chuyển khoản vui lòng thanh toán qua QR bên dưới</b></div>
        <img src="~/HinhanhSP/66c0dbb1-dca8-458d-8104-d28846166d3b.jpg" style="width:200px;height:200px"/>
       
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Đặt hàng ngay" class="btn btn-primary" />
        </div>
    </div>
</div>
}

